.basic{
  background-color: #b4b4b4
}

.linkbutton{
  background-color:rgb(14, 116, 105);
  color: white;
  padding: 16px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.home{
  padding: 32px 32px 32px 32px;
  text-align: center;
  border-collapse: collapse;
}

.users{
  padding: 32px 32px 32px 32px;
  text-align: center;
  border-collapse: collapse;

}

.advertisements{
  padding: 32px 32px 32px 32px;
  text-align: center;
  border-collapse: collapse;
}

.userstable{
  text-align: center;
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 20px 30px 20px 30px;
  font: 20px Arial;
  border: 1px solid #b9b5b5;
  border-collapse: collapse;
  background-color:rgb(14, 116, 105);
}

.advertisementstable{
  text-align: center;
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 20px 30px 20px 30px;
  font: 20px Arial; 
  border: 1px solid #b9b5b5;
  border-collapse: collapse;
  background-color:rgb(14, 116, 105);
}
td, th {
  padding: 10px;
}

.back{
  font-size: 20px;
  text-align: center;
}